page-ver-microempresario {
  .me-thumbs{
    -webkit-display: flex;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;

    .thumb{
      width: 40%;
      padding-top: 40%;
      border-radius: 50%;
      margin: 5%;
      background:  no-repeat center center;
      background-size: cover;
      box-shadow: 2px 2px 4px rgba(black,0.1);
    }
  }
  .item-divider{
    background: #222;
    color: white;
  }
  h2,p{
    white-space: normal!important;
  }
}
